---
title: About Mikey
current: about-mikey
---

<div class="content-page">
  <div class="content-page__images with-slider" id="slider">
    <div class="content-page__images-list">
      <figure class="content-page__image">
        <%= image_tag "about-mikey/1.jpg", class: "content-page__image__img" %>
        <figcaption>Hi! I’m MIkey and I’m super stoked to meet you too!</figcaption>
      </figure>
      <figure class="content-page__image">
        <%= image_tag "about-mikey/2.jpg", class: "content-page__image__img" %>
        <figcaption>Filming the Kickstarter video with some radlings.</figcaption>
      </figure>
      <figure class="content-page__image">
        <%= image_tag "about-mikey/3.jpg", class: "content-page__image__img" %>
        <figcaption>Cruising low on the video shoot.</figcaption>
      </figure>
      <figure class="content-page__image">
        <%= image_tag "about-mikey/4.jpg", class: "content-page__image__img" %>
        <figcaption>The Laguna Beach rad shack where Radimus was conceived.</figcaption>
      </figure>
    </div>
  </div>
  <div class="content-page__text">
    <%= image_tag "about-mikey.png", alt: "About Mikey", class: "content-page__title" %>

    <p>Mikey Bondoc is the creator, author and illustrator of The Radventures of Radimus Platypus. He is an east coast native and calls New York City home. He has worked in the apparel industry for over fifteen years as a graphic designer, concept designer, art director and creative consultant. J.Crew, American Eagle, Old Navy, Abercrombie & Fitch, Converse, and PacSun are just a few of the brands that he has had the pleasure to work with. He has currently been consulting with Burt’s Bees Baby and is no stranger to the children’s market. His creative duties include concepting seasonal design direction, designing and illustrating graphics for apparel, developing toys and tabletop products, designing online promotions, and posting content on all social media channels.</p>

    <p>Not unlike Radimus, Mikey is a lover of surfing, skateboarding, snowboarding, and yoga. This love has taken him on many radventures from snowboarding in Jackson Hole, WY, surfing in Bali, and Southern California where he lived for five years. Through a healthy, active, outdoor lifestyle in Laguna Beach, CA, Radimus Platypus was conceived. Mikey believes in following his heart to make his dreams come true. The intention for The Radventures of Radimus Platypus is to inspire children and adults all over the world to follow their hearts too.</p>

    <p>Mikey is a strong advocate for the preservation of the planet and all life that inhabits it. The Radimus Platypus brand is committed to supporting organizations like Oceana, Surfrider Foundation, Snowrider Project, and 1 Percent for the Planet.</p>
  </div>
</div>